<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <title>Ideias - Casa Criativa</title>
</head>
<body id="page-ideas">
    <div id="container">
        <header>
            <a href="/"><img src="/assets/logo.png" alt="Casa Criativa"></a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" class="button" onclick="getModal()">Nova ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
        <main>
            <section id="ideas">
                {% for idea in ideas %}
                <div class="idea">
                    <img src="{{ idea.img }}" alt="Imagem de {{ idea.title }}">
                    <div class="content">
                        <h3>{{ idea.title }}</h3>
                        <p>{{ idea.category }}</p>
                        <div class="description">
                            <p>{{ idea.description }}</p>
                        </div>
                        <a href="{{ idea.url }}" target="_blank">Ir para a ideia</a>
                    </div>
                </div>
                {% endfor %}
            </section>
        </main>
        <footer>Com ♥️ <a href="https://github.com/Raymw1" target="_blank">Rayan Wilbert</a></footer>
    </div>
    {% include "modal.html" %}
    <script src="/scripts/script.js"></script>
</body>
</html>