{% extends "layout.html" %}
{% block title %}<title>Ideias - Casa Criativa</title>{% endblock title %}
{% set bodyId = "page-ideas" %}
{% block content %}
        <header>
            <a href="/"><img src="/assets/logo.png" alt="Casa Criativa"></a>
            <nav>
                <li><a href="/">Início</a></li>
                <li><a href="#" class="button" onclick="getModal()">Nova ideia</a></li>
            </nav>
        </header>
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
        <main>
            <section id="ideas">
                {% include "allIdeas.html" %}
            </section>
        </main>
        <footer>Com ♥️ <a href="https://github.com/Raymw1" target="_blank">Rayan Wilbert</a></footer>
{% endblock %}